html, body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-row:hover {
  background-color: #dcdcdc; /* Change this to your desired hover background color */
}

.circle-button .MuiSvgIcon-root {
  font-size: 24px; /* Adjust icon size as needed */
  background-color: #fa8072;
  border-radius: 50%;
}